*{
    margin:0;
    padding:0;
 font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;s

}

.main_box{
    background:url("photo.jpg");
    height:100vh;
    background-size:cover
}

.btn_one{
    color:white;
    font-size: 30px;
    font-weight: 700px;
    position:absolute;
    top:0px;
    left:6px;
    line-height: 60px;
}

.sidebar_menu{
    position:fixed;
    /* left:-300px; */
    height:100vh;
    width:300px;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255,255,255,0.5);

}

.sidebar_menu .logo a{
    text-decoration: none;
    position: absolute;
    left:50px;
    color:white;
    line-height: 30px;
    font-size:20px;
}

.btn_two{
    position: absolute;
}


.sidebar_menu .menu{
    color:white;
    position:absolute;
    width: 100%;
}